<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/posts.css" />
    <title>Blog posts</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <h1>Blog posts</h1>
      <ul class="posts-list">
        <% posts.forEach(post => { %>
        <div class="post-container" id="<%= post.Id %>">
          <li>
            <p><%= makeDateReadable(post.CreationDate) %></p>
            <h2><%= post.Title %></h2>
            <p><%= removeUnnecessaryTags(post.Body) %></p>
            <button>View post</button>
          </li>
        </div>
        <% }) %>
      </ul>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script>
    // const posts = <%- JSON.stringify(posts) %>
    // console.log(posts);

    const ulEl = document.querySelector(".posts-list");

    ulEl.addEventListener("click", (e) => {
      if (e.target.tagName === "BUTTON") {
        const postId = e.target.closest(".post-container").id;
        window.location.href = `/post/${postId}`;
      }
    });
  </script>
</html>
