<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog posts</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <h1>Blog posts</h1>
      <ul>
        <% posts.forEach(post => { %>
        <div>
          <li>
            <p><%= post.CreationDate %></p>
            <h2><%= post.Title %></h2>
            <p><%= post.Body.replace(/<[^>]*>/g, '') %></p>
          </li>
        </div>
        <% }) %>
      </ul>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script>
    // const posts = <%- JSON.stringify(posts) %>;
    // console.log(posts);
  </script>
</html>
